{% extends 'base_template.html'%}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmXQO4kik_QT8QPmzZ2_teiGUak9t1rQc">
    </script>
{% endblock %}



{% block content %}

        <div class="mapDiv">
            <input type="text" id="searchVal">
            <button id="searchBtn" onclick="codeAddress()">Search</button>
        </div>
        <div id="map-canvas"></div>



{% endblock %}