{% extends 'base_template.html' %}



{% block content %}
    <div class="container profile-info">
        <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <h3 class="lead">Current Projects</h3>
                <div class="list-group" id="projectList">

                </div>
            </div>

            <div class="col-md-9">
                <div class="thumbnail">
                    <div class="caption-full">
                        <h2 class="profile-name">{{ user.username }}</h2><br>
                        <p><strong>Contact Info:</strong></p>
                            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                            <p>Email: {{ user.email }}</p>
                    </div>
                    <a href="#projectModal" data-toggle="modal"><button class="btn btn-success btn-large btnCustom">Create New Project</button></a>
                </div>

                <div class="well">
                    <div class="text-left">
                        <h3>Past Donations</h3>
                    </div>
                    <hr>
                     {% for donation in donations %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>Project: <a href="{% url 'view_project' donation.project.id %}">{{ donation.project.title }}</a></p>
                                <p class="pull-right">Amount: ${{ donation.donation_amount }}</p>
                            </div>
                        </div>
                        <hr>
                     {% endfor %}


                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="projectModal">

        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <h2>Create a new Project</h2>
            <hr class="star-primary">
            <div id="newProject">
                <p>Project Title: <input type="text" id="projectTitle"></p>
                <p>Description: <input type="text" id="projectDescription"></p>
                <p>Zip Code: <input type="text" id="projectZip"></p>
                <p>Amount Needed: <input type="number" id="projectAmount"></p>
                <input class="btn btn-default " type="submit" value="Create Project" id="createProject">
            </div>
        </div>
    </div>






{% endblock %}