{% extends 'base_template.html' %}


{% block header %}
{% endblock %}

{% block content %}
<!-- Page Content -->
    <div class="container">

        <div class="row project-info">



            <div class="col-md-9 col-md-offset-1">

                <div class="thumbnail">
                    <h2 style="text-align: center; color:#18bc9c;">{{ project.title }}</h2>
                    {% if project.picture %}
                        <img class="img-responsive" src="{{ project.picture.url }}" alt="http://placehold.it/800x300">
                    {% else %}
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                    {% endif %}
                    <div class="caption-full">
                        <br>

                        <div><p>${{ project.find_remaining}} Needed to reach this goal</p></div>
                        {% if user == project.student %}
                            <a class='pull-right' href="{% url 'upload_picture' project.id %}"><button class="btn btn-default">Update Project</button></a>
                        {% else %}
                            <a class='pull-right donateBtn' href="#donateModal" data-toggle="modal"><button class="btn btn-success  btnCustom donateBtn">Donate Now</button></a>
                        {% endif %}



                        <p><strong>Student Name:</strong> {{ project.student.first_name }} {{ project.student.last_name }}</p>
                        <p><strong>Description:</strong> {{ project.description }}</p>

                    </div>

                </div>
                <div class="well">
                    <div class="text-left">
                        <h3>People who have donated</h3>
                    </div>
                    <hr>
                     {% for donation in donations %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>Donor: {{ donation.donor }}</p>
                                <p class="pull-right">Amount: ${{ donation.format_amount }}</p>
                            </div>
                        </div>
                        <hr>
                     {% endfor %}


                </div>

            </div>

        </div>

    </div>

     <div class="modal fade" id="donateModal">

        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <h2>Make Your Donation</h2>
            <hr class="star-primary">

            <div class="donationInput">
                <p>Donation Amount: <input id="donation_amount" name="donation_amount" step="any" type="number"></p>
                <input type="hidden" name="project_id" class='projectID' value="{{ project.id }}">
                <button class='btn btn-default' id="movePayment">Move to Payment</button>
            </div>
            <div class="thanksDonate" style="display: none">
                <p>Thanks for Donating!</p>
            </div>

            <div class="stripeDiv" style="display: none">
                <form action="/charge/" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_4V8sFPGyR79fKgbKT2ymeYEE"
                    data-amount="2000"
                    data-name="Demo Site"
                    data-description="2 widgets ($20.00)"
                    data-image="/128x128.png">
                  </script>
                  <script type="text/javascript">
                    $(function(){
                        $('#movePayment').click(function(event){
                            var amount = $('#donation_amount').val();
                            $('stripe-button').attr('data-amount', amount)
                        });
                    });
                  </script>
                </form>
            </div>
        </div>
    </div>





{% endblock %}