

#loginModal .modal-content{
    padding: 20px 25px;
    width: 500px;
    margin: auto;
    text-align: center;
}

#loginModal{
    padding: 20px 25px;
}


.project-info{
    margin-top: 120px;
}

.profile-info{
    margin-top: 120px;
}

.profile-name{
    margin: auto;
    /*text-align: center;*/
}

footer{
    max-height: 20%;
}

#projectModal .modal-content{
    padding: 20px 25px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.mapDiv {
    margin-top: 120px;
}

.update-project {
    margin-top: 120px;
}


textarea:focus, input:focus {
    color: #000000;
}

input, select, textarea{
    color: #000000;
}

#donateModal .modal-content{
    padding: 20px 25px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.navCustom {
    background-color: #233140;
}

.btnCustom {
    background-color: #18bc9c;
}


.navbar-nav > li > a{
    color:#ffffff !important;
}

.navbar-nav > li > a:hover {
    color:#18bc9c !important;
}

.navbar-nav > li > a:active {
    color:#18bc9c !important;
    background-color: none !important; ;
}

.navbar-default .navbar-nav > li > a:focus {
    background-color: none !important;
    color:#18bc9c !important;

}

.navbar-default .navbar-brand {
    color:#ffffff !important;

}

.navbar-default .navbar-brand:hover {
    color:#18bc9c !important;

}


.regBtn {
    margin-top: 100px;
    background-color: #233140;
    color: white;
    height:50px;
    width: 175px;
    font-size: 2rem;
    font-weight: lighter;
}

.regBtn:hover {
    box-shadow: 0 0 15px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #233140;
    color: white;


}

#registrationModal{
    padding: 20px 25px;
    width: 600px;
    margin: auto;
    text-align: left;


}

#googleSearch {
    height: 50px;
    width:270px;
    padding: 15px 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9D9E9E;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

#googleSearch:focus {
    background: #DFE9EC;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline:0;
}

#googleSearch:hover   {
    background: #DFE9EC;
    color: #414848;
}

.donateBtn{
    background-color: #18bc9c;
    color: white;
    height:50px;
    width: 175px;
    font-size: 2rem;
    font-weight: lighter;
    border-radius: 7px;

}

.donateBtn:hover {
    box-shadow: 0 0 15px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #233140;
    color: white;
}